.contact-wrapper{
  height: 50vh;
  color: white;
}

#contact-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-links{
  color: white;
  font-size: clamp(20px, 10vw, 40px);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.contact-links a{
  color: white;
  margin: 2%;
  opacity: 0.9;
  position: relative;
}

.contact-links a:hover{
  opacity: 1;
  bottom: 5px;
}
