.hero-wrapper {
 height: 100vh;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  align-items:center;
  user-select: none;
  justify-content: center;
}

#hero-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#greeting{
  color: #fffbd9;
  font-family: "Work Sans", sans-serif;
  font-size: clamp(20px, 10vw, 30px);
  width: 80%;
  margin-bottom: 30px;
}

#name {
  color: #ffe400;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(80px, 20vw, 100px);
  letter-spacing: 8px;
  position: relative;
  margin-bottom: 2vh;
  text-align: center;
  /* text-transform: uppercase; */
}

.name-line{
  width: 70%;
  border-bottom: 15px solid #ffe400;
}

#name-wrap{
  width: max-content;
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 90vw;
}

#subgreet {
  text-align: right;
  color: #ff652f;
  font-family: "Work Sans", sans-serif;
  width: 90%;
  font-size: clamp(12px, 4vw, 32px);
  position: relative;
  font-weight: bold;
  float: right;
  margin-top: 50px;
}

#scroll-arrow {
  height: 40px;
  animation: 1.2s bounce ease infinite;
  cursor: pointer;
  margin-top: 90px;
  font-weight: bold;
  color: white;
  font-size: 70px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 735px) {
  #name {
    font-size: 20vw;
}
 #greeting{
   font-size: 18px;
 }
 #subgreet{
   font-size: 22px;
 }
}

