.hero-wrapper {
  min-height: 100vh;
  display: flex;
  text-align: center;
  width: 100%;
  padding-top: 5vh;
}

#hero-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#greet {
  color: #ffe400;
  font-family: "Montserrat", sans-serif;
  font-size: 12vw;
  letter-spacing: 8px;
  max-width: 80%;
  position: relative;
  /* left: -4vw; */
  margin-bottom: 2vh;
}

#subgreet {
  text-align: right;
  color: #ff652f;
  font-family: "Alegreya", serif;
  font-family: "Work Sans", sans-serif;
  max-width: 80%;
  font-size: 4vw;
  position: relative;
  /* text-transform: uppercase; */
}
