.navbar {
width: 100%;
  max-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  transition: all 0.3s linear;
  position: fixed;
  right: 0;
  z-index:99;
}
/* for phone screens */
@media (max-width: 411px) {
  .navbar {
    display: none;
  }
  .logo {
    display: none;
  }
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
}

.scrollnav{
  display: none;
}

.logo img {
  max-width: 50px;
  height: auto;
}
.logo img:hover {
  max-width: 50px;
  height: auto;
  cursor: pointer;
  transform: rotate(50deg);
}
.navigation {
  float: right;
  font-family: "Roboto", sans-serif;
  font-size: large;
  max-width: 60vw;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  max-width: 100%;
}

.navlink{
  list-style-type: none;
  margin: 1vw;
  width: fit-content;
  height: 100%;
}

.navlink:hover {
  border-bottom: 3px solid;
  cursor: pointer;
}
