.sidebar{
  writing-mode: vertical-rl;
  font-family: "Roboto", sans-serif;
  font-size: large;
  max-width: 60vw;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  display: inline-block;
  transform: rotate(180deg);
  height: 100vh;
  position: fixed;
  text-align: center;
}
