.sidebar {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  position: fixed;
  width: max-content;
  color:  #e5dfde;
  bottom: 0;
  float: right;
  right: 20px;
  z-index: 800;
}

#side-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: max-content;
  float: right;
}

#line {
  height: 30px;
  width: 50%;
  border-right: 1px solid  #e5dfde;
}

#linkedin {
  font-size: 32px;
}

#longline {
  height: 160px;
  width: 50%;
  border-right: 1px solid  #e5dfde;
}

.sidebar a {
  color: white;
  position: relative;
  margin-top: 5px;
}

.sidebar a:hover {
  transform: scale(1.2);
  font-weight: bold;
}

#email-add{
  font-size: 12px;
  letter-spacing: 2px;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 4px;
}

/* for phone screens */
@media (max-width: 730px) {
  .sidebar {
    display: none;
  }
}
