* {
  margin: 0px;
}
html,
body {
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.site-body-wrap{
  display: flex;
}
